# -*- coding: utf-8 -*-
#
# Copyright (C) 2020 CERN.
#
# Invenio-Banners is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

# To update this file
#
#  git add -A
#  pip install -e .[all]
#  check-manifest -u

include .dockerignore
include .editorconfig
include .git-blame-ignore-revs
include .tx/config
include *.rst
include *.sh
include *.txt
include LICENSE
include babel.ini
prune docs/_build
recursive-include .github/workflows *.yml
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include invenio_banners *.html
recursive-include invenio_banners *.py
recursive-include tests *.py
